/* IMPORTED FONTS */
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

/* BASE STYLING */
:root {
  font-family: "Abril Fatface";
  margin: 0px;
  border: 0px;
  padding: 0px;
}
body {
  font-family: "Abril Fatface";
}
.titleFont {
  font-family: "Pacifico", cursive;
}
h3 {
  font-size: clamp(1.25rem, 5vw, 5rem);
}
h4 {
  font-size: clamp(1rem, 3.5vw, 3rem);
}
p {
  font-size: clamp(0.75rem, 2vw, 2.5rem);
}
/* NAV STYLING */
#navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
#navLogo {
  width: 10%;
}
#navName {
  font-size: 200%;
}

/* HERO STYLING */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
  background-image: url("./media/heroImage.png");
  background-size: cover;
  background-position: center;
}

#heroTitle {
  top: 5%;
  padding-left: 2%;
  color: antiquewhite;
  width: 100%;
}
#heroTitle h1 {
  font-size: clamp(1.25rem, 5vw, 5rem);
}
#heroTitle h2 {
  display: flex;
  padding-top: 10%;
  font-size: clamp(1.25rem, 5vw, 5rem);
  justify-content: flex-end;
  padding-right: 2%;
}
#heroBlurb {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: antiquewhite;
}

#heroButtons {
  bottom: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.herobtn {
  display: flex;
  background-color: transparent;
  margin: 0.2em;
  color: antiquewhite;
  border-color: antiquewhite;
  font-size: clamp(0.75rem, 2vw, 4rem);
  padding: clamp(0.4rem, 1vw, 0.8rem) clamp(0.8rem, 2vw, 1.5rem);
}

.herobtn:hover {
  background-color: antiquewhite;
}
/* ABOUT STYLING */
#aboutPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: antiquewhite;
}
#abtBlurbOne {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
#abtBlurbTwo {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

#abtCards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: clamp(18rem, 40vw, 50rem);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
}
.card-body {
  padding-top: 0;
}
.list-group-item {
  padding: 0;
  font-size: clamp(0.75rem, 2vw, 2.5rem);
  color: rgb(78, 35, 86);
}
.list-group {
  margin-bottom: 0.75rem;
}
.cardBtn {
  color: black;
  background-color: antiquewhite;
  border: 0;
  font-size: clamp(0.75rem, 2vw, 4rem);
  padding: clamp(0.4rem, 1vw, 0.8rem) clamp(0.8rem, 2vw, 1.5rem);
}
.cardBtn:hover {
  background-color: black;
  color: antiquewhite;
}
/* FOOTER STYLING */
#footer {
  display: flex;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
}
#footerContainer {
  display: flex;
  justify-content: space-between;
  width: 60%;
  border-top: 1px solid rgb(228, 228, 225);
  padding: 0.25rem;
}

#footerName {
  font-size: larger;
  margin: 0;
}

#smIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 15%;
}
