@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

:root {
  font-family: "Abril Fatface";
  margin: 0px;
  border: 0px;
  padding: 0px;
}
body {
  font-family: "Abril Fatface";
}
#navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
#navLogo {
  width: 10%;
}
#navName {
  font-family: "Pacifico", cursive;
  font-size: 200%;
}

/* HERO SECTION */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
  background-image: url("heroImage.png");
  background-size: cover;
  background-position: center;
}

#heroTitle {
  top: 5%;
  padding-left: 2%;
  color: antiquewhite;
  font-size: clamp(0.5rem, 1000vw, 100rem); /* scales with screen */
  width: 100%;
}
#heroTitle h1 {
  font-size: clamp(1.25rem, 5vw, 5rem);
}
#heroTitle h2 {
  display: flex;
  padding-top: 10%;
  font-size: clamp(1.25rem, 5vw, 5rem);
  justify-content: flex-end;
  padding-right: 2%;
}
#heroBlurb {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: antiquewhite;
  font-size: clamp(0.45rem, 2vw, 2.5rem);
}

#heroButtons {
  bottom: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  display: flex;
  background-color: transparent;
  margin: 0.2em;
  color: antiquewhite;
  border-color: antiquewhite;
  font-size: clamp(0.75rem, 2vw, 4rem);
  padding: clamp(0.4rem, 1vw, 0.8rem) clamp(0.8rem, 2vw, 1.5rem);
}

.btn:hover {
  background-color: antiquewhite;
}

/* FOOTER SECTION */
#footer {
  display: flex;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
}
#footerContainer {
  display: flex;
  justify-content: space-between;
  width: 60%;
  border-top: 1px solid rgb(228, 228, 225);
}

#footerName {
  font-family: "Pacifico", cursive;
  font-size: larger;
  margin: 0;
}

#smIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 15%;
}
