@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

:root {
  font-family: "Abril Fatface";
  margin: 0px;
  border: 0px;
  padding: 0px;
}
body {
  font-family: "Abril Fatface";
}
#navBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navLogo {
  width: 10%;
}
#navName {
  font-family: "Pacifico", cursive;
  font-size: 200%;
}

#hero {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

#hero img {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
}

#heroTitle {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: antiquewhite;
  font-size: xx-large;
  padding-top: 6%;
  padding-left: 0.75em;
  width: 100%;
}

#heroTitle h2 {
  display: flex;
  width: 100%;
  padding-top: 18%;
  padding-right: 0.75em;
  justify-content: flex-end;
}

#heroBlurb {
  display: flex;
  position: absolute;
  color: antiquewhite;
  width: 75%;
  padding-top: 42%;
  padding-left: 30%;
}
